@model RegisterViewModel
@{
    ViewData["Title"] = "注册";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h2>@ViewData["Title"]</h2>
<form class="form-container" asp-controller="Account" asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        @Html.DisplayNameFor(m => m.UserName)
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        @Html.DisplayNameFor(m => m.Email)
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        @Html.DisplayNameFor(m => m.Password)
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        @Html.DisplayNameFor(m => m.ConfirmPassword)
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">注册</button>
    </div>
</form>